body{
  margin:0;
  font-family:'Barlow Condensed', sans-serif;
  background:#ffffff;
  color:#000;
}

/* HEADER */

header{
  display:flex;
  justify-content:space-between;
  padding:30px 60px;
  align-items:center;
}

header h2{
  letter-spacing:2px;
  font-weight:800;
}

nav a{
  margin-left:20px;
  text-decoration:none;
  color:black;
  font-size:16px;
  opacity:0.7;
}

nav a:hover{
  opacity:1;
}

/* HERO */

.hero{
  padding:100px 60px 40px;
}

.hero h1{
  font-size:72px;
  line-height:1;
  letter-spacing:2px;
  margin:0;
}

.hero p{
  margin-top:20px;
  font-size:20px;
  opacity:0.6;
}

/* SEARCH */

.search-wrap{
  padding:40px 60px;
}

.search-wrap input{
  width:100%;
  padding:20px;
  font-size:22px;
  border:none;
  border-bottom:2px solid black;
  outline:none;
}

/* RESULTS */

#searchResults{
  padding:0 60px;
}

.card{
  padding:20px 0;
  border-bottom:1px solid #eee;
  font-size:22px;
  cursor:pointer;
  transition:0.2s;
}

.card:hover{
  color:#b89b00;
  transform:translateX(10px);
}

/* SIGNAL BAR */

.signal-bar{
  margin-top:80px;
  overflow:hidden;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

.signal-track{
  display:flex;
  width:max-content;
  animation:scroll 20s linear infinite;
}

.signal-track span{
  padding:20px 40px;
  font-size:16px;
  letter-spacing:1px;
  opacity:0.7;
}

@keyframes scroll{
  0%{transform:translateX(0);}
  100%{transform:translateX(-50%);}
}
